services:
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw



  php:
      build: 
        context: ./docker/php
      container_name: php-container
      volumes:
        - .:/var/www/project  
      depends_on:
        - database

  nginx:
      build: 
        context: ./docker/nginx
      container_name: nginx-container
      volumes:
        - .:/var/www/project
      ports:
        - ${EXPOSED_PORT}:80
      depends_on:
        - php

volumes:
  database_data:
